.content-box {
	position: absolute;
	top: 50%;
	left: 96px;
	transform: translate(0%, -50%);
	background: white;
	border-radius: 3px;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, .4);
	padding: 24px;
	z-index: 8;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3rem;
	color: #999;
	font-family: sans-serif;
}
