<ng-content></ng-content>

<div class="slides">
	<img *ngFor="let slide of slides; let index = index"
		src={{slide.image}}
		alt={{slide.alt}}
		[ngClass]="slide.active ? 'slides__slide--active' : 'slides__slide'">
</div>

<nav class="carousel-nav">
	<i class="fas fa-angle-left" (click)="browseSlides(-1)"></i>
	<div class="carousel-nav__dots">
		<i
			*ngFor="let slide of slides; let index = index"
			(click)="selectSlide(index)"
			class="fas fa-circle"
			[ngClass]="slide.active ? 'carousel-nav__dots__dot--active' : 'carousel-nav__dots__dot'">
		</i>
	</div>
	<i class="fas fa-angle-right" (click)="browseSlides(1)"></i>
</nav>
