:host {
	position: relative;
	display: block;
	height: 100vh;
}

.slides {
	position: absolute;
	overflow: hidden;
	background-color: #00a1de;
	height: 100vh;

	& img {
		height:100vh;
		object-fit: cover;
		object-position: 50% 50%;
	}

	&__slide {
		display: none;

		&--active {
			display: block;
		}
	}
}

.carousel-nav {
	position: absolute;
	width: 100vw;
	height: 100vh;
	padding: 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	& i {
		cursor: pointer;
		font-size: 6rem;
		color:white;
	}

	&__dots {
		align-self: flex-end;

		& i {
			&:not(:first-child) {
				margin-left: 16px;
			}

			font-size: 3rem;
		}

		&__dot {
			opacity: .6;
			cursor: pointer;
			font-size: 1rem;

			&--active {
				opacity: 1;
			}
		}
	}
}

img {
	width: 100vw;
}
